html{
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    width: auto;
    padding: 0;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}
.header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 1rem 3rem 0rem 3rem;
}
.header h1{
    color: #141941;
}
.header nav li{
    display: inline-block;
}
.header a{
    text-decoration: none;
    margin: 0 0.5rem;
    font-size: 1rem;
}
.header a:last-child{
    margin-right: 0;
}
.about h1{
    margin:0 0 0.2rem 3rem;
    color: #141941;
}
.about p{
    font-size: 1rem;
    margin: 0.2rem 0 0 3rem;
}
legend{
    font-weight: bold;
    display: block;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #141941;
}
.theform label:not(.check label){
    display: block;
    text-align: center;
    margin: 1rem auto;
}
.check{
    width: 32rem;
    height: 2rem;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border: 2px solid #B5B6BA;
    border-top: none;
    background-color: #FAFAFA;  
}
.check label{
    flex-basis: content;
    color: #666;
}
.theform input:not([type="checkbox"]){
    display: block;
    margin: 0 auto;
    width: 32rem;
    height: 2rem;
    border: 2px solid #B5B6BA;
    border-top: none;
    background-color: #FAFAFA;
}
select{
    display: block;
    margin: 1rem auto;
    width: 32rem;
    height: 2rem;
    border: 2px solid #B5B6BA;
    border-top: none;
    background-color: #FAFAFA;
}
select:required{
    color: #666;
}

textarea{
    resize: none;
    height: 7rem;
    width: 32rem;
    border: 2px solid #B5B6BA;
    border-top: none;
    background-color: #FAFAFA;
    margin: 1rem auto;
}
button:not(footer button){
    border: none;
    display: block;
    margin-left: 26.3rem;
    height: 2rem;
    width: 9rem;
    background-color: #141941;
    color: #FAFAFA;
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: -0.5rem;
    margin-bottom: 1.5rem;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
.theform p{
    border-bottom:#B5B6BA 2px solid;
    width: 32rem;
    margin: 0 auto;
}
.contact{
    width: 33rem;
    margin: 0rem auto 5rem auto;
    display: flex;
    flex-flow: row nowrap;
    padding: auto;
    justify-content: space-between;
}
.phone-no, .socials, .dmail{
    padding: 0;
}
.phone-no img, .socials img, .dmail img{
    padding-bottom: 0;
    margin-bottom: -0.5rem;
}
footer{
    background-color: #121A41;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    color: #FFFFFF;
    padding: 3rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;   
}
footer h3{
    padding: 0;
    margin: 0;
    font-weight:500;
    border: 0px solid green;
    font-size: large;
}
footer p{
    padding: 0;
    margin: 0;
    margin-top: 0.1rem;
    font-size: 1rem;
    border: 0px solid red;
}

footer input{
    border: 2px solid #FFFFFF;
    width: 25rem;
    height: 2rem;
    background-color: #121A41;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #FFFFFF;
}
footer button{
    width: 7rem;
    height: 2rem;
    border: none;
    padding: auto;
    background-color: #37C464;
    color: #FFFFFF;
    font-size: 0.9rem;
}
h6{
    margin-top: 1rem;
    font-size: 0.7rem;
    font-weight: normal;
}
aside nav a{
    text-decoration: none;
    color: #FFFFFF;
    display: inline-block;
    width: 9rem;
    margin: 0rem;
}
.SM{
    margin-top: 0rem;
    text-align: end;
    padding-right: 4rem;
}